body {
    font-family: monospace;
    margin: 0;
}


header {
	background: #228b22;
	color: black;
	padding: 5px 15px 0px 15px;
}

header h1 {
	margin: 0;
	display: inline;
}

nav ul{
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li {
	background: #228b22;
	color: black;
	display: inline-block;
	list-style-type:  none;
    padding: 5px 15px;
}

nav ul li a {
	color: black;
}
p {
  background: none;
  color: #228b22;
}

.row{

}

.col {
	background: #228b22;
	border-radius: 5px;
	padding: 5px .5%;
	color: black;
	float: left;
	margin: .5%;
	width: 48%;
}

footer {
	clear: both;
}