body {
   
    font : 15px/1.5 Monospace, Lucida-Sans;
    margin: 10px;
    padding: 10px;
    background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiLq7-uxMPkAhVSUd4KHSFEAiEQjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fwww.loudwallpapers.com%252Ffoggy-forest-wallpaper-nature%252F%26psig%3DAOvVaw3Bsjjm2XRZhnXkYjJ2z9Zm%26ust%3D1568111396589791&psig=AOvVaw3Bsjjm2XRZhnXkYjJ2z9Zm&ust=1568111396589791.png");
}


header {
	background: #228b22;
	color: black;
	padding: 5px 15px 0px 15px;
}

header h1 {
	margin: 10px;
	display: inline;
}

nav ul{
	margin: 10px;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li {
	background: #228b22;
	color: black;
	display: inline-block;
	list-style-type:  none;
    padding: 5px 15px;
}

nav ul li a {
	color: black;
}
p {
  background: none;
  color: #228b22;
}

.row{

}

.col {
	background: #228b22;
	border-radius: 5px;
	padding: 5px .5%;
	color: black;
	float: left;
	margin: .5%;
	width: 48%;
}

.container {
	width : 80%;
	

}

footer {
	clear: both;
}
