body {
   
    font : 15px/1.5 Monospace, Lucida-Sans;
    margin: 10px;
    padding: 10px;
    background-image: url("foggyforest.png");
}


header {
	background: #228b22;
	color: black;
	padding: 0px 0px 0px 15px;
}

header h1 {
	margin: 0px;
	display: inline;

    text-align: center;
    color: white;
    line-height: 100px;
    width: 100%;
}

.sidebar {
            background-color: #ebebeb;
            position: absolute;
            width: 200px;
            height: 100%;
}




nav ul{
	margin: 10px;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li {
	background: #228b22;
	color: black;
	display: inline-block;
	list-style-type:  none;
    padding: 5px 15px;
}

nav ul li a {
	color: black;
}
p {
  background: none;
  color: #228b22;
}

.row{

}

.col {
	background: #228b22;
	border-radius: 5px;
	padding: 5px .5%;
	color: black;
	float: left;
	margin: .5%;
	width: 48%;
}

.container {
	width : 80%;
	

}

footer {
	clear: both;
}
